.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px;
    background: white;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    color: #9fa6b2;
    font-size: 38px;
    font-weight: 600;
}
.nav-profile{
    width: 75px;
}
@media(max-Width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-profile{
        width: 60px;
    }
}